#Spring Boot Server project
/spring-boot-server/.idea
/spring-boot-server/.mvn
/spring-boot-server/mvnw
/spring-boot-server/mvnw.cmd
/spring-boot-server/HELP.md
/spring-boot-server/spring-boot-server.iml

#Angular client project
/angular-client/.idea
/angular-client/node_modules
